{% extends "CitasApp/base.html" %}

{% block content %}

{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">

            <div class="jumbotron jumbotron-fluid detalle-encabezado">
                <div class="container">
                    <h4>{{ cita.paciente }}</h4>
                </div>
            </div>

            <div class="card detalle-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form id="formulario-editar-cita" action="{% url 'editar_eliminar_cita' cita.id %}" method="post">
                                {% csrf_token %}
                
                                {{ editar_cita_form.as_p }}
                
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col d-flex justify-content-start">
                                            <button type="submit" name="action" value="eliminar" class="btn btn-danger">Eliminar cita</button>
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <a href="{% url 'inicio' %}" type="button" class="btn btn-info">Regresar</a>&nbsp;
                                            <button type="submit" name="action" value="editar" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}